<form action="#" method="POST" class="cat-form" enctype="multipart/form-data">
    <h2>Add Cat</h2>
    <input type="text" name="imageWeb" value="false" style="display: none;">
    <label for="name">Name</label>
    <input name="name" type="text" id="name">
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
    <label for="image">Image</label>
    <input name="upload" type="file" id="image" accept="image/png">
    <label for="group">Breed</label>
    <select name="breed" id="group">
        {{#each breedArr}}
        <option value="{{this.breed}}">{{this.breed}}</option>
        {{/each}}
    </select>
    <button type="submit">Add Cat</button>
</form>